doctype html
html(lang='en')
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", type="text/css", href="./css/style.css")
    //script(src="./assets/js/script.js")
    title Yanaly Art
    meta(name="description", content="Yanaly Art")
    meta(property="og:title", content="Yanaly Art")
    meta(property="og:site_name", content="Yanaly Art")
    meta(property="og:url", content="https://yanaly.art")
    meta(property="og:description", content="Yanaly Art")
    meta(property="og:type", content="website")
    meta(property="og:image", content="https://yanaly.art/ogimage.png")
    meta(name="twitter:card", content="summary_large_image")
    meta(property="twitter:domain", content="yanaly.art")
    meta(property="twitter:url", content="https://yanaly.art/")
    meta(name="twitter:title", content="Yanaly Art")
    meta(name="twitter:description", content="Yanaly Art")
    meta(name="twitter:image", content="https://yanaly.art/ogimage.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/ico/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./ico/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./ico/favicon-16x16.png")
    link(rel="manifest", href="/ico/site.webmanifest")
    link(rel="mask-icon", href="/ico/safari-pinned-tab.svg", color="#444444")
    link(rel="shortcut icon", href="./ico/favicon.ico")
    meta(name="apple-mobile-web-app-title", content="Yanaly Art")
    meta(name="application-name", content="Yanaly Art")
    meta(name="msapplication-TileColor", content="#00aba9")
    meta(name="msapplication-TileImage", content="/ico/mstile-144x144.png")
    meta(name="msapplication-config", content="/ico/browserconfig.xml")
    meta(name="theme-color", content="#ebebeb")
    //script new WOW().init();
  body
    header#header
      #headercontent
        .headerleft 
          .langmenu 
            .langitem
              a(href="#") EN
            .langitem |
            .langitem
              a(href="#") UA
        .headerlogo 
          .logowrapper 
            img(src="./img/logo.png", alt="Yanaly Logo")
        .headerright 
          .search 
            img(src="./img/header-search.png" width="24" height="24" alt="search")
          .cart
            img(src="./img/header-cart.png" width="24" height="24" alt="cart")
      #headernavigation
        nav.header-menu
          ul 
            li
              a(href="#") Home
            li
              a(href="#") Catalog
            li
              a(href="#") About Me
            li
              a(href="#") Order & Delivery
            li
              a(href="#") Blog
            li
              a(href="#") Contacts
    main 
      section#banner 
        .banner-wrapper 
          img(src="./img/bannerexmpl.jpg", alt="banner")
    footer
      #footertop
        .footercolumn
          .footerhead Catalog
          p.footermenu Menu 1
          p.footermenu Menu 2
          p.footermenu Menu 3
          p.footermenu Menu 4
        .footercolumn
          .footerhead Information
          p.footermenu Order & Delivery
          p.footermenu About Me
          p.footermenu Blog
          p.footermenu Contacts
        .footercolumn
          .footerhead Contact Us
      #footerbottom
        .footercopyright
          p All Rights Reserved © 2023 Yanaly.art